version: '3.8'

services:

  database:
    image: postgres:10-alpine
    hostname: database
    volumes:
      - ./invidious-database:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
      - ./sql:/config/sql
      - ./init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
    networks:
      - database-backend
    deploy:
      placement:
        constraints:
          - node.labels.database-server == true
      restart_policy:
        condition: any
      update_config:
        parallelism: 2
        delay: 10s
        order: stop-first
        monitor: 10s
      rollback_config:
        parallelism: 2
        delay: 10s
        order: stop-first
        monitor: 10s 
    environment:
      POSTGRES_DB: invidious
      POSTGRES_USER: kemal
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}

  server:
    image: quay.io/invidious/invidious:latest
    hostname: invidious
    networks:
      - backend
      - database-backend
#    logging:
#      driver: none
    deploy:
      mode: replicated
      replicas: 3
      restart_policy:
        condition: any
      update_config:
        parallelism: 2
        delay: 10s
        order: stop-first
        monitor: 10s
      rollback_config:
        parallelism: 2
        delay: 10s
        order: stop-first
        monitor: 10s
    environment:
      INVIDIOUS_CONFIG: |
        channel_threads: 1
        feed_threads: 1
        check_tables: true
        db:
          user: kemal
          password: ${DATABASE_PASSWORD}
          host: database
          port: 5432
          dbname: invidious
        full_refresh: false
        popular_enabled: true
        login_enabled: true
        registration_enabled: true
        statistics_enabled: true
        admin_email: ${ADMIN_MAIL}
        domain: https://${INVIDIOUS_HOSTNAME}/
        captcha_key: ${ANTI_KEY}

  waf:
    image: silkky/invidious-waf:latest
    hostname: modsecurity
    networks:
      - backend
      - traefik-public
    deploy:
      mode: replicated
      replicas: 3
      restart_policy:
        condition: any
      update_config:
        parallelism: 2
        delay: 10s
        order: stop-first
        monitor: 10s
      rollback_config:
        parallelism: 2
        delay: 10s
        order: stop-first
        monitor: 10s
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
  
        # Access Router
        - "traefik.http.routers.invidious.rule=Host(`${INVIDIOUS_HOSTNAME}`)"
        - "traefik.http.routers.invidious.tls.certresolver=letsencrypt"
        - "traefik.http.routers.invidious.entrypoints=allowframe"
        - "traefik.http.routers.invidious.service=invidious-service"

        # Service
        - "traefik.http.services.invidious-service.loadbalancer.server.port=80"
        - "traefik.http.services.invidious-service.loadbalancer.sticky.cookie=true"
        - "traefik.http.services.invidious-service.loadbalancer.sticky.cookie.secure=true"

networks:
  traefik-public:
    external: true
  database-backend:
    driver: overlay
  backend:
    driver: overlay
